# DATA TYPE AND STRUCTURES OF PYTHON (BASIC QUESTIONS)

#1.  What are data structures, and why are they important?
     - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

     They are important because:
    a) It conserves memory usage.
    b) It Simplifies data manipulation (adding, removing, modifying elements)
    c) Choosing the right data structure significantly impacts the efficiency and performance of your program.
    d) It Optimizes searching and sorting operations.

# 2. Explain the difference between mutable and immutable data types with examples.
    - MUTABLE DATA TYPE = It can be changed or modified after creation. We can add, update, or delete elements.
    eg. list
        dict
        set
      
    - IMMUTABLE DATA TYPE = It cannot be changed after they are created. Any update creates a new object in memory.    

    eg. int
        float
        str (string)
        tuple
        bool(boolean)

# 3. What are the main differences between lists and tuples in Python?
    -LISTS = Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!).
    we can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.

    TUPLES =  Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
    You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.

# 4. Describe how dictionaries store data?
   - A dictionary in Python is a collection of key-value pairs. Each key is unique and maps to a value.

In [ ]:
my_dict =  {"name": "Ayushi",
    "age": 21,
    "city": "Lucknow"}
print(my_dict)


#Here:
"name", "age", and "city" are keys.
"Ayushi", 21, and "Lucknow" are values.

{'name': 'Ayushi', 'age': 21, 'city': 'Lucknow'}

# 5. Why might you use a set instead of a list in Python?
    - A set is a collection of unique and unordered elements, while a list is an ordered collection that allows duplicates.

    Main reason of why we use set instead of a list
    i) To Automatically Remove Duplicates = Sets automatically keep only unique items.
    ii) Faster Membership Testing = Sets use hashing, making lookups much faster than in lists.
    iii) Set perform different operations like union , intersection, difference, which is great for comaring and filtering data.

# 6. What is a string in Python, and how is it different from a list?
    - Strings = Characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material. Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques (find, replace, etc.).

    i) Use a string when working with text that won’t change.
    ii) Use a list when you need a flexible collection of items that can be modified.

# 7. How do tuples ensure data integrity in Python?
    - A tuple is an ordered, immutable collection of elements.
      Tuples Help Ensure Data Integrity as we cannot
    i) change an item
    ii) add an item
    iii) remove an item
    This protects the data from being accidentally modified.
    Since tuples are immutable, they can be used as dictionary keys, unlike lists.
    This helps in building reliable key-value pairs.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
     - A hash table is a data structure that stores key-value pairs using       a special function called a hash function.
    i)It converts each key into a hash value (a number).
    ii)That number decides where to store the key-value pair in memory.
    iii)This makes data lookup very fast, usually in constant time.

    This happens behind the scenes:
    Python hashes each key (e.g., "name", "age").
    Stores the value ("Ayushi", 21) at a memory location decided by the hash.When you do student["age"], Python:
    Hashes "age"
    Finds the memory slot
    Returns 21

# 9. Can lists contain different data types in Python?
    - Yes!
     In Python, lists can contain elements of different data types in the same list. This is one of the flexible features of Python lists.

     Python is dynamically typed, so each element in a list is just a reference to an object — it doesn't require all elements to be of the same type.

     In this list:

     i) 10 → Integer
     ii) "Ayushi" → String
     ii)  3.14 → Float
     iv)  True → Boolean
      v) [1, 2, 3] → Another List

# 10.  Explain why strings are immutable in Python?
    - An immutable object cannot be changed after it is created.
    For strings, this means you cannot change individual characters or modify the original string directly.
    Python reuses identical strings in memory (called string interning) to save space.
    If strings were mutable, this reuse would become risky — changing a could unexpectedly change b.
    Since strings are often used for keys in dictionaries or data identifiers, making them immutable ensures they don't get changed accidentally.

# 11.  What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries and lists are both powerful, but they serve different purposes.
    More Meaningful Data Access:
    i) Keys in dictionaries make the data self-explanatory.
    ii) Lists only use positions (index numbers), which are not meaningful.
    Flexible Key-Value Pairing:
    i) You can map any value to a unique key, which is great for storing related data.
    ii) In lists, you can only store values sequentially.
    No Need to Remember Indexes:
    i) With dictionaries, you don’t need to remember the position of data.
    ii) With lists, accessing data depends on remembering the right index.

# 12. Describe a scenario where using a tuple would be preferable over a list?  
    - Tuple is ordered and immutable collection of elements, whereas lists are mutable. we can change, add or remove elements from list but can't change, add or remove from tuples.
    AS touples provide secure way to store data that shouldn't be modified by someone.
    Imagine we are building a program that deals with map locations. Each location has a fixed latitude and longitude. Since these values should not be modified accidentally, a tuple is the better choice.

# 13. How do sets handle duplicate values in Python?    
    - Set is and unordered collection of unique elements. The order doesn't matter, and duplicate entries are not allowed.
     You can add or remove elements from a set, but you cannot access elements by index (since order doesn't matter). Set operations like union (combining elements), intersection (finding common elements), and difference (finding elements in one set but not the other) are efficient.

# 14. How does the “in” keyword work differently for lists and dictionaries?
     -The "in" keyword is used to check for membership, but it works differently for lists and dictionaries in python
    IN LISTS >> in checks whether a value exists in the list. It looks at the elements (values) inside the list.
    IN DICTIONARIES >> in only checks the keys not values. It checks if the key exists, not the value.

# 15. Can you modify the elements of a tuple? Explain why or why not?

     - NO! we cannot modify the elements of a touple as it is immutable which means we cannot change, add or remove elements from the touple.
     We can access elements using slicing or indexing, but we cannot modify the content.
      Tuples are useful for representing fixed datasets or configurations.
      However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.

# 16.  What is a nested dictionary, and give an example of its use case?
    -A nested dictionary is a dictionary inside another dictionary.
    It allows you to store structured data in a hierarchical form — like a dictionary of dictionaries.

    Use Case: School Management System

    A nested dictionary is useful when:
    You're managing data of multiple students, employees, products, etc.
    Each item (like a student) has multiple attributes (name, age, grade, etc.)

# 17. Describe the time complexity of accessing elements in a dictionary?
    -  In Python, dictionaries are implemented using hash tables, which makes  them very fast for accessing elements. Because Python uses the hash value of the key to directly jump to the location in memory, so it doesn't need to search through every item.
    In rare situations like:
    Hash collisions (many keys hashing to the same index)
    Very high load factor (too many elements)
    In such cases, the dictionary may need to search through multiple items at one hash index.

# 18. In what situations are lists preferred over dictionaries?
    - Lists and dictionaries serve different purposes.
    Lists maintain the order of elements, and we can access items by their position(index).
    If your data doesn’t need labels (keys) and can be managed as just a sequence of items, lists are simpler.
    Lists are ideal for looping through items in order.

    This is common in tasks like filtering, sorting, and mapping.
    i) Lists allow duplicate values, unlike dictionary keys.
    ii) Lists typically use less memory than dictionaries since dictionaries store both keys and values and have internal hashing mechanisms.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
     - Dictionaries used to be considered  unordered before.
    Before, dictionaries didi not guarantee the order in which key-value pairs were stored or retrieved.

    i) Dictionaries are implemented using hash tables,where each key is hashed and stored in a non-linear fashion.
    ii) The internal storage depends on the hash value, collisions, and resizing, which may change the order unexpectedly.

    NOWADAYS, dictionaries preserve insertion order as an official language feature.
    Even though they preserve order now, dictionaries are still referred to as unordered in many explanations because:
    i) Conceptually, dictionary lookups are based on keys, not position.
    ii) You can't access values by index, like in a list:

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - The main difference between a list and a dictionary in terms of data retrieval lies in how you access the data:
    LIST-:
    i) A list is an ordered collection.
    ii) We access elements using their position(index), starting from 0.
    iii) It is good when order matters but not suitable for labeled data.

    DICTIONAY-:
    i) A dicitonary is a key-value collection.
    ii) We access data using a key (not position).
    iii) It is best for looking up values by unique identifiers but can't access items by index like in a list.

# DATA STRUCTURE AND TYPE (PRACTICAL QUESTIONS)

# 1. Write a code to create a string with your name and print it.

In [ ]:
name = "ayushi"
print(name)

ayushi

# 2. Write a code to find the length of the string "Hello World".

In [ ]:
n="Hello World"
print(len(n))

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
name = "pwskills"
print(name[0:3])

pws

# 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
n = "hello"
print(n.upper())

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
fru = "I like apple"
print(fru.replace("apple","orange"))

I like orange

# 6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
lis = [1, 2, 3, 4, 5]
print(lis)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
num = [1,2,3,4]
num.append(10)
num

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lis = [1, 2, 3, 4, 5]
lis.remove(3)
lis

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lis = [10, 20, 30, 40, 50]
lis.reverse()
lis

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[1:3]

('green', 'blue')

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
minimum= min(my_tuple)
minimum

5

# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
    print("yes")
else:
    print("no")

yes

# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a','b','c'}
my_set

{'a', 'b', 'c'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set = {1, 2, 3, 4, 5}
set.clear()
set

set()

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1, 2, 3, 4}
set.remove(4)
set

{1, 2, 3}

# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
num1 = {1, 2, 3}
num2 = {3, 4, 5}
num1.union(num2)

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
num1 = {1, 2, 3}
num2 = {3, 4, 5}
num1.intersection(num2)

{3}

# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "Ayushi",
    "age": 21,
    "city": "Lucknow"}
print(person)

{'name': 'Ayushi', 'age': 21, 'city': 'Lucknow'}

# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
person

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d = {"name": "Alice", "age":30}
d["name"]

'Alice'

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
d

{'name': 'Bob', 'city': 'New York'}

# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d = {"name": "Alice", "city": "Paris"}
if "city" in d:
    print("yes")

yes

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lis = [1, 2, 3, 4, 5]
print(lis)
my_tuple = (100, 200, 300)
print(my_tuple)
person = {"name": "Ayushi",
    "age": 21,
    "city": "Lucknow"}
print(person)

[1, 2, 3, 4, 5]
(100, 200, 300)
{'name': 'Ayushi', 'age': 21, 'city': 'Lucknow'}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random

numbers = []

for _ in range(5):
    num = random.randint(1, 100)
    numbers.append(num)

numbers.sort()

print("Sorted numbers:", numbers)

Sorted numbers: [8, 30, 37, 37, 70]

# 28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list = ["punnu", "mussu", "kussu"]
list[2]

'kussu'

# 29.  Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name": "ayush", "age": 21}
dict2 = {"city": "Lucknow", "state": "Uttar Pradesh"}
dict1.update(dict2)
dict1

{'name': 'ayush', 'age': 21, 'city': 'Lucknow', 'state': 'Uttar Pradesh'}

# 30. Write a code to convert a list of strings into a set.

In [1]:
my_list = ["apple", "banana", "mango", "apple", "banana"]
my_set = set(my_list)
my_set

{'apple', 'banana', 'mango'}